In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
Apple = yf.download("AAPL", start="2010-01-01", end="2021-01-01")

In [ ]:
Apple

In [ ]:
ticker = ["SPY","AAPL","KO"]

In [ ]:
stocks = yf.download(ticker, start="2010-01-01", end="2021-01-01")

In [ ]:
stocks

In [ ]:
stocks.info

In [ ]:
stocks.head()

In [ ]:
stocks.tail()

In [ ]:
stocks.info()

In [ ]:
stocks.to_csv("stocks_algo_data.csv")

In [ ]:
stocks = pd.read_csv("stocks_algo_data.csv")

In [ ]:
stocks

In [ ]:
stocks = pd.read_csv("stocks_algo_data.csv", header=[0,1])
stocks

In [ ]:
stocks = pd.read_csv("stocks_algo_data.csv", header=[0,1],index_col=[0])
stocks

In [ ]:
stocks = pd.read_csv("stocks_algo_data.csv", header=[0,1],index_col=[0],parse_dates=[0])
stocks

In [ ]:
stocks.columns

In [ ]:
#convert mult index to one tuple
stocks.columns = stocks.columns.to_flat_index()

In [ ]:
stocks.columns

In [ ]:
stocks

In [ ]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)
stocks

In [ ]:
stocks.describe()

In [ ]:
stocks.loc[:,"Close"]

In [ ]:
close = stocks.loc[:,"Close"].copy()
close

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('default')

In [ ]:
close.plot(figsize=(15,9), fontsize=12)
plt.legend(fontsize=12)
plt.show()

In [ ]:
close.iloc[0,0]

In [ ]:
close.AAPL

In [ ]:
close.AAPL.div(close.iloc[0,0])

In [ ]:
close.AAPL.div(close.iloc[0,0]).mul(100)

In [ ]:
close.iloc[0]

In [ ]:
close.div(close.iloc[0]).mul(100)

In [ ]:
normclose = close.div(close.iloc[0]).mul(100)

In [ ]:
normclose.plot(figsize=(15,9), fontsize=12)
plt.legend(fontsize=12)
plt.show()

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl

In [ ]:
# aapl.shift(periods=1)

In [ ]:
# aapl["lag1"] = aapl.shift(periods=1)
aapl

In [ ]:
# aapl["Diff"]=aapl.AAPL.sub(aapl.lag1)
aapl

In [ ]:
# aapl["% change"]=aapl.AAPL.div(aapl.lag1).sub(1).mul(100)
aapl

In [ ]:
# aapl["Diff2"] = aapl.AAPL.diff(periods=1)
aapl

In [ ]:
# aapl["% change2"]=aapl.AAPL.pct_change(periods=1).mul(100)

In [ ]:
aapl

In [ ]:
# del aapl["Diff"]

In [ ]:
aapl

In [ ]:
# aapl.rename(columns={"% change":"Change"},inplace=True)

In [ ]:
aapl

In [ ]:
aapl.AAPL.resample("M").last()

In [ ]:
aapl.AAPL.resample("BM").last()

In [ ]:
aapl.AAPL.resample("BM").last().pct_change(periods =1).mul(100)

In [ ]:
aapl

In [ ]:
#del aapl["Change"]

In [ ]:
aapl

In [ ]:
ret = aapl.pct_change().dropna()
ret

In [ ]:
ret.info()

In [ ]:
ret.plot(kind="hist",figsize=(12,8),bins=100)
plt.show()

In [ ]:
daily_mean_return = ret.mean()
daily_mean_return

In [ ]:
var_daily = ret.var()
var_daily

In [ ]:
std_daily =np.sqrt(var_daily)

In [ ]:
std_daily

In [ ]:
ret.std()

In [ ]:
annual_mean_return = daily_mean_return * 252
annual_mean_return

In [ ]:
annual_var_return = var_daily * 252
annual_var_return

In [ ]:
annaul_std_return = np.sqrt(annual_var_return)
annaul_std_return

In [ ]:
ret.std()*np.sqrt(252)

In [ ]:
ticker = ["SPY","AAPL","KO","IBM","DIS","MSFT"]

In [ ]:
stocks = yf.download(ticker, start="2010-01-01", end="2021-01-01")

In [ ]:
close = stocks.loc[:,"Close"].copy()

In [ ]:
normclose = close.div(close.iloc[0]).mul(100)

In [ ]:
normclose.plot(figsize=(15,9), fontsize=12)
plt.legend(fontsize=12)
plt.show()

In [ ]:
ret = close.pct_change().dropna()
ret.head()

In [ ]:
ret.describe().T

In [ ]:
summary = ret.describe().T.loc[:,["mean","std"]]
summary

In [ ]:
summary["mean"] = summary["mean"] * 252
summary["std"] = summary["std"] * np.sqrt(252)
summary

In [ ]:
summary.plot.scatter(x="std",y="mean",figsize=(12,8), s=50, fontsize=15)
for i in summary.index:
    plt.annotate(i,xy=(summary.loc[i,"std"]+0.002,summary.loc[i,"mean"]+0.002),size=15)
plt.xlabel("Annual risk(std)",fontsize=15)
plt.ylabel("Annual return(std)",fontsize=15)
plt.title("Risk/Return",fontsize=25)
plt.show()

##Correlation and Covariance

In [ ]:
ret

In [ ]:
ret.cov()

In [ ]:
ret.corr()

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(ret.corr(), annot=True, cmap="Reds",  annot_kws={"size": 15}, vmax=0.6)
plt.show()

#Simple returns and log returns

In [ ]:
df = pd.DataFrame(index=[2016,2017,2018],data=[100,50,95],columns=["Price"])
df

In [ ]:
simplereturns = df.pct_change().dropna()

In [ ]:
simplereturns

In [ ]:
simplereturns.mean()

In [ ]:
100*1.2*1.2

In [ ]:
#mean return are misleading as crazy

In [ ]:
logreturns = np.log(df/df.shift(1)).dropna()
logreturns

In [ ]:
logreturns.mean()

In [ ]:
100*np.exp(logreturns.mean()*2)

In [ ]:
Apple = yf.download("AAPL")

In [ ]:
SPY = yf.download("SPY")

In [ ]:
SPY

In [ ]:
spy = SPY.Close.to_frame()

In [ ]:
spy

In [ ]:
spy.plot(figsize=(12,8), fontsize=15)
plt.legend(loc ="upper left",fontsize=15)
plt.show()

In [ ]:
spy_roll = spy.rolling(window=10)

In [ ]:
spy_roll

In [ ]:
spy_roll = spy_roll.mean()

In [ ]:
spy_roll

In [ ]:
spy_roll.head(15)

In [ ]:
spy.rolling(window=10).median()

In [ ]:
spy.rolling(window=10).max()

In [ ]:
spy.rolling(window=10,min_periods=5).max().head(15)

In [ ]:
spy

In [ ]:
spy["SMA50"] = spy.Close.rolling(window=50, min_periods=50).mean()

In [ ]:
spy

In [ ]:
spy.head(52)

In [ ]:
spy.plot(figsize=(12,8), fontsize=15)
plt.legend(loc ="upper left",fontsize=15)
plt.show()

In [ ]:
spy["SMA200"] = spy.Close.rolling(window=200, min_periods=50).mean()
spy
spy.plot(figsize=(12,8), fontsize=15)
plt.legend(loc ="upper left",fontsize=15)
plt.show()

In [ ]:
spy["EMA100"] = spy.Close.ewm(span=100,min_periods=100).mean()

In [ ]:
spy

In [ ]:
spy.plot(figsize=(12,8), fontsize=15)
plt.legend(loc ="upper left",fontsize=15)
plt.show()

In [ ]:
spy["Day"] = spy.index.day_name()

In [ ]:
spy["Quarter"] = spy.index.quarter

In [ ]:
SPY = yf.download("SPY")

In [ ]:
spy = spy.Close.to_frame()

In [ ]:
spy

In [ ]:
all_days = pd.date_range(start="2010-12-31",end="2020-01-01",freq="D")
all_days

In [959]:
spy

                 Close
2010-12-31  125.750000
2011-01-01  125.750000
2011-01-02  125.750000
2011-01-03  127.050003
2011-01-04  126.980003
...                ...
2019-12-28  322.859985
2019-12-29  322.859985
2019-12-30  321.079987
2019-12-31  321.859985
2020-01-01  321.859985

[3289 rows x 1 columns]

In [ ]:
spy = spy.reindex(all_days)

In [961]:
spy

                 Close
2010-12-31  125.750000
2011-01-01  125.750000
2011-01-02  125.750000
2011-01-03  127.050003
2011-01-04  126.980003
...                ...
2019-12-28  322.859985
2019-12-29  322.859985
2019-12-30  321.079987
2019-12-31  321.859985
2020-01-01  321.859985

[3289 rows x 1 columns]

In [ ]:
spy.fillna(method="ffill",inplace=True)

In [ ]:
spy.fillna(method="bfill",inplace=True)

In [ ]:
SPY = yf.download("SPY", interval="1wk")

In [ ]:
SPY

Cummaltive Returns, Drawdown etc....

In [ ]:
apple = yf.download("AAPL")

In [ ]:
apple

In [ ]:
apple = apple.Close.to_frame()

In [ ]:
apple.Close

In [962]:
apple["d_returns"]=np.log(apple.Close/apple.Close.shift(1))
apple

,Close,d_returns,cummreturns,cummax,drawdown,drawdown%
Date,,,,,,
1980-12-15,0.121652,NaN,0.947829,0.947829,0.000000,0.000000
1980-12-16,0.112723,-0.076231,0.878261,0.947829,0.069569,0.073398
1980-12-17,0.115513,0.024450,0.899998,0.947829,0.047831,0.050464
1980-12-18,0.118862,0.028580,0.926092,0.947829,0.021738,0.022934
1980-12-19,0.126116,0.059239,0.982610,0.982610,0.000000,0.000000
...,...,...,...,...,...,...
2023-11-13,184.800003,-0.008621,1439.835551,1530.604356,90.768805,0.059303
2023-11-14,187.440002,0.014185,1460.404625,1530.604356,70.199730,0.045864
2023-11-15,188.009995,0.003036,1464.845614,1530.604356,65.758741,0.042963
2023-11-16,189.710007,0.009002,1478.090950,1530.604356,52.513406,0.034309
2023-11-17,189.690002,-0.000105,1477.935090,1530.604356,52.669265,0.034411

In [963]:
apple.dropna(inplace=True)

In [964]:
apple

,Close,d_returns,cummreturns,cummax,drawdown,drawdown%
Date,,,,,,
1980-12-16,0.112723,-0.076231,0.878261,0.947829,0.069569,0.073398
1980-12-17,0.115513,0.024450,0.899998,0.947829,0.047831,0.050464
1980-12-18,0.118862,0.028580,0.926092,0.947829,0.021738,0.022934
1980-12-19,0.126116,0.059239,0.982610,0.982610,0.000000,0.000000
1980-12-22,0.132254,0.047522,1.030433,1.030433,0.000000,0.000000
...,...,...,...,...,...,...
2023-11-13,184.800003,-0.008621,1439.835551,1530.604356,90.768805,0.059303
2023-11-14,187.440002,0.014185,1460.404625,1530.604356,70.199730,0.045864
2023-11-15,188.009995,0.003036,1464.845614,1530.604356,65.758741,0.042963
2023-11-16,189.710007,0.009002,1478.090950,1530.604356,52.513406,0.034309
2023-11-17,189.690002,-0.000105,1477.935090,1530.604356,52.669265,0.034411

In [965]:
apple.d_returns.sum()

7.35198194574604

In [966]:
np.exp(apple.d_returns.sum())

1559.2838834004933

In [968]:
apple["cummreturns"] = apple.d_returns.cumsum().apply(np.exp)

In [969]:
apple

,Close,d_returns,cummreturns,cummax,drawdown,drawdown%
Date,,,,,,
1980-12-16,0.112723,-0.076231,0.926602,0.947829,0.069569,0.073398
1980-12-17,0.115513,0.024450,0.949536,0.947829,0.047831,0.050464
1980-12-18,0.118862,0.028580,0.977066,0.947829,0.021738,0.022934
1980-12-19,0.126116,0.059239,1.036695,0.982610,0.000000,0.000000
1980-12-22,0.132254,0.047522,1.087150,1.030433,0.000000,0.000000
...,...,...,...,...,...,...
2023-11-13,184.800003,-0.008621,1519.087262,1530.604356,90.768805,0.059303
2023-11-14,187.440002,0.014185,1540.788503,1530.604356,70.199730,0.045864
2023-11-15,188.009995,0.003036,1545.473934,1530.604356,65.758741,0.042963
2023-11-16,189.710007,0.009002,1559.448322,1530.604356,52.513406,0.034309
2023-11-17,189.690002,-0.000105,1559.283883,1530.604356,52.669265,0.034411

In [ ]:
apple.cummreturns.plot(figsize=(12,8), fontsize=12,title = "Apple buy and hold")
plt.show()

In [ ]:
apple.d_returns.mean()*252

In [ ]:
apple.d_returns.std()*np.sqrt(252)

In [ ]:
#how to calculate drawdowns
apple["cummax"] = apple["cummreturns"].cummax()

In [ ]:
apple

In [ ]:
apple[["cummreturns","cummax"]].plot(figsize=(12,8), fontsize=12,title = "Apple buy and hold")
plt.show()

In [ ]:
apple["drawdown"]=apple["cummax"]-apple["cummreturns"]

In [ ]:
apple

In [ ]:
apple.drawdown.max()

In [ ]:
apple.drawdown.idxmax()

In [ ]:
apple.loc[(apple.index=='2023-01-05')]

In [ ]:
apple["drawdown%"] = (apple["cummax"]-apple["cummreturns"])/apple["cummax"]

In [ ]:
apple

In [ ]:
apple["drawdown%"].max()

In [ ]:
apple["drawdown%"].idxmax()

In [ ]:
apple.loc[apple.index<='1997-12-23']

##SMA Strategy

In [ ]:
data = apple.Close.loc[apple.index>='1991-01-01']

In [ ]:
data = data.to_frame()

In [ ]:
data

In [ ]:
sma_s=50
sma_l =100

In [ ]:
data["sma_s"] = data.Close.rolling(sma_s).mean()
data["sma_l"] = data.Close.rolling(sma_l).mean()

In [ ]:
data

In [ ]:
data.plot(figsize=(12,8), fontsize=12,title="AAPLE - SMA{} | SMA{}".format(sma_s,sma_l))
plt.show()

In [ ]:
data.loc["2016", ["sma_s", "sma_l", "position"]].plot(figsize=(12, 8), fontsize=12, title="AAPL - SMA{} | SMA{}".format(sma_s, sma_l),secondary_y="position")
plt.show()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data

In [ ]:
data["position"] = np.where(data["sma_s"]>data["sma_l"],1,-1)

In [ ]:
data

In [ ]:
data.loc[:, ["sma_s", "sma_l", "position"]].plot(figsize=(12, 8), fontsize=12, title="AAPL - SMA{} | SMA{}".format(sma_s, sma_l),secondary_y="position")
plt.show()

In [ ]:
data["returnsb&h"] = np.log(data.Close/data.Close.shift(1))
data

In [ ]:
data["strategy"] = data["returnsb&h"]*data["position"].shift(1)

In [ ]:
data

In [ ]:
data.dropna(inplace=True)

In [ ]:
data[["returnsb&h", "strategy"]].sum()

In [ ]:
data[["returnsb&h", "strategy"]].sum().apply(np.exp) #what 1$ will be

In [ ]:
data[["returnsb&h", "strategy"]].std()*np.sqrt(252) #annual std

In [ ]:
data.Close.plot(figsize=(12,8), fontsize=12)

##Strategy adjusted with long bias

In [ ]:
data["position2"] = np.where(data["sma_s"]>data["sma_l"],1,0)

In [ ]:
data["strategy2"] = data["returnsb&h"]*data.position2.shift(1)
data

In [ ]:
data.dropna(inplace=True)

In [ ]:
data

In [ ]:
data[["returnsb&h", "strategy2"]].sum()

In [ ]:
data[["returnsb&h", "strategy2"]].sum().apply(np.exp) #what 1$ will be

In [ ]:
data[["returnsb&h", "strategy2"]].std()*np.sqrt(252) #annual std

In [ ]:
##Strategy 2 is better than strategy 1
data[["strategy","strategy2"]].std()*np.sqrt(252)

##Find the best sma for the top stocks

##Create a bias strategy

##Compare drawdowns


##Pick the best 3 stocks for your portfoli